# IntelliJ IDEA
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
egg-info/

# Python Installer logs
pip-log.txt

# Virtual environment
venv/
